[Unit]
# Requires=mpd.service is omitted because users may want to run mpd not as
# a service but via terminal or network (remote mpd instance).
Description=mpd-mpris: An implementation of the MPRIS protocol for MPD
After=mpd.service

[Service]
ExecStart=mpd-mpris -no-instance
Restart=on-failure

[Install]
WantedBy=default.target
