[Unit]
# If you run mpd-mpris to connect to a local mpd server, uncomment 
# the following lines to declare a dependency with the mpd service.
# Requires=mpd.service
Description=mpd-mpris: An implementation of the MPRIS protocol for MPD
After=mpd.service

[Service]
ExecStart=mpd-mpris -no-instance
Restart=on-failure
Type=dbus
BusName=org.mpris.MediaPlayer2.mpd

[Install]
WantedBy=default.target
