name: build go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: setup go
      uses: actions/setup-go@v4
      with:
        go-version: '1.12'
    - name: Build
      run: go build -v ./cmd/mpd-mpris/main.go
